<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="themes/default/include/header::commonHeaderCustom(${siteConfig.webname} + ' - ' + ${siteConfig.webslogen},~{::style})">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<!-- 头部开始 -->
<script type="text/javascript" th:src="@{/blog/static/lib/iscroll/iscroll.js}"></script>
<script type="text/javascript" th:src="@{/blog/static/lib/slide/jquery.SuperSlide.2.1.1.js}"></script>
<header th:include="themes/default/include/header::commonHeaderContent"></header>

<div class="container">
    <!-- 正文 -->
    <div class="main">
        <div class="row">
            <div class="col-md-8">
                <section class="mainbox">
                    <div class="slideTxtBox">
                        <div class="hd" id="hdwrap" style="overflow: hidden;">
                            <ul class="slidetitle" style="width: 733px; transform-origin: 0px 0px 0px; position: absolute; top: 0px; left: 0px;">
                                <li class="on">
                                    <h2>最新文章</h2>
                                </li>
                                <div class="clearfix"></div>
                            </ul>
                            <script type="text/javascript">
                                //    首页导航条滚动
                                // var all_width = document.getElementsByClassName('slidetitle')[0].scrollWidth
                                // $('.slidetitle').css({
                                //    'width': all_width + 'px'
                                // });
                                // var myscroll = new iScroll("hdwrap", {
                                //    scrollX: true,
                                //    scrollY: false,
                                //    hScrollbar: false,
                                //    vScrollbar: false,
                                //    vScroll: false
                                // });
                            </script>
                        </div>
                        <div class="bd">
                            <div id="post-content">
                                <ul class="listcontent">
                                    <li class="post" v-for="post in posts">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-4" v-if="post.thumbnails.length>0">
                                                <div class="newsthumb">
                                                    <a v-bind:href="blogPath + 'post/' + post.postSlug + '.html'" v-bind:title="post.postTitle">
                                                        <img width="520" height="300" v-bind:src="post.thumbnails[0]" class="attachment-news-thumb size-news-thumb wp-post-image" v-cloak>
                                                    </a>
                                                    <div class="newscatname">
                                                        <ul class="post-categories">
                                                            <li>
                                                                <a th:href="@{/category/java}" rel="category tag">java</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-xs-8">
                                                <div class="newstext" id="newstext">
                                                    <div class="newstexttop">
                                                        <a v-bind:href="blogPath + 'post/' + post.postSlug + '.html'" v-bind:title="post.postTitle">
                                                            <h3 v-cloak>{{ post.postTitle }}</h3>
                                                        </a>
                                                        <p class="newszy" v-cloak>
                                                            {{ post.postDesc }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-4 col-xs-4"></div>
                                            <div class="col-md-8 col-xs-8">
                                                <div class="newstag">
                                                    <a th:href="@{/blog/post/author/terwer}" v-cloak>terwer</a>
                                                    <span v-cloak><i class="fa fa-clock-o" aria-hidden="true"></i>{{ post.postDate }}</span>
                                                    <span class="tags fr"><i class="fa fa-tags" aria-hidden="true"></i><a th:href="@{/tag/java}" rel="tag">java</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div id="pagination" class="loadmore"><a href="javascript:void(0);" v-text="tips" v-on:click="loadmore" v-cloak>查看更多</a></div>
                            </div>
                        </div>
                    </div>

                    <script id="jsID" type="text/javascript">
                        // jQuery(".slideTxtBox").slide({trigger: "click"});
                    </script>
                </section>
            </div>
            <div class="col-md-4">
                <section class="mainbox">
                    <div class="sidebartitle">
                        <h2>标签云</h2>
                    </div>
                    <div class="sidebarcon sidebartags">
                        <a th:href="@{/tag/互联网}" class="tag-cloud-link tag-link-45 tag-link-position-1" style="font-size: 13px;">互联网</a>
                        <a th:href="@{/tag/区块链}" class="tag-cloud-link tag-link-35 tag-link-position-3" style="font-size: 13px;">区块链</a>
                        <a th:href="@{/tag/美女}" class="tag-cloud-link tag-link-80 tag-link-position-8" style="font-size: 13px;">美女</a>
                        <a th:href="@{/tag/电影}" class="tag-cloud-link tag-link-74 tag-link-position-9" style="font-size: 13px;">电影</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- 底部开始 -->
<!-- vuejs开发环境版本，包含了有帮助的命令行警告 -->
<script th:src="@{/webjars/vue/vue.js}"></script>
<!-- layui -->
<script type="text/javascript" th:src="@{/webjars/layui/layui.js}"></script>
<footer th:include="themes/default/include/footer::commonFooterCustom(~{::script})">
    <script type="text/javascript">
        layui.config({base: BUGUCMS_BASE_URL + 'static/lib/'}).extend({
            conf: 'bugucms/conf'
        }).use(['conf', 'layer', 'element', 'form', 'jquery', 'laytpl'], function () {
            var $ = layui.jquery,
                conf = layui.conf,
                layer = layui.layer,
                form = layui.form,
                laytpl = layui.laytpl;

            var currentPage = 1;
            if (conf.debug) {
                console.log("client config:" + JSON.stringify(conf));
            }
            var app = new Vue({
                el: '#post-content',
                data: {
                    posts: [
                        // {postTitle: '测试标题', postRawContent: '测试内容'}
                    ],
                    tips: '努力加载中...',
                    blogPath: ''
                },
                created: function () {
                    this.tips = "加载更多";
                    this.blogPath = BLOG_BASE_URL;
                    getData();
                },
                // 在 `methods` 对象中定义方法
                methods: {
                    loadmore:function (event) {
                        var index = layer.load(2, {
                            shade: [0.6, '#fff'], content: '加载中...', time: 500, success: function (layero) {
                                layero.find('.layui-layer-content').css({
                                    'padding-top': '6px',
                                    'width': '150px',
                                    'padding-left': '40px'
                                });
                                layero.find('.layui-layer-ico16, .layui-layer-loading .layui-layer-loading2').css({
                                    'width': '150px !important',
                                    'background-position': '2px 0 !important'
                                });
                            }
                        });
                        $(event.target).text("加载中");

                        var content = $(event.target).parent('div').prev('ul').attr('id');
                        var pagination = $(event.target).parent('div').attr('id');
                        console.log("content:"+ content);
                        console.log("pagination:"+ pagination);
                        // $.ajax({
                        //     type: "POST",
                        //     url: $(this).attr("href") + "#" + content,
                        //     success: function (data) {
                        //         result = $(data).find("#" + content).find('.post');
                        //         nextHref = $(data).find("#" + pagination).find('a').attr("href");
                        //         // 渐显新内容
                        //         $("#" + content).append(result.fadeIn(300));
                        //         $("#" + pagination).find('a').removeClass("loading").text("加载更多");
                        //         if (nextHref != undefined) {
                        //             $("#" + pagination).find('a').attr("href", nextHref);
                        //         } else {
                        //             // 若没有链接，即为最后一页，则移除导航
                        //             $("#" + pagination).empty().html('<p class=nonews>我虽放荡，但我有底线！</p>')
                        //         }
                        //     }
                        // });
                    }
                }
            });
            function getData() {
                var postListUrl = BLOG_API_BASE_URL + 'post/list';//数据接口地址
                // 如果开启token，传入token
                if (conf.request.tokenName) {
                    postListUrl += '?tokenString=' + conf.request.tokenString;
                }
                console.log("postListUrl:" + postListUrl);
                $.post(postListUrl, {page: currentPage}, function (res) {
                    if (res.status == 0) {
                        layer.msg(res.msg, {icon: 2});
                    } else {
                        // console.log("posts:" + JSON.stringify(res.data));
                        if (res.data.length == 0) {
                            app.tips = '加载完成';
                        } else {
                            ++currentPage;
                        }
                        for (var idx in res.data) {
                            var post = res.data[idx];
                            app.posts.push(post);
                        }
                    }
                });
            }
        });
    </script>
</footer>
</body>
</html>