<!--
  _______
 |__   __|
    | |  ___  _ __ __      __ ___  _ __
    | | / _ \| '__|\ \ /\ / // _ \| '__|
    | ||  __/| |    \ V  V /|  __/| |
    |_| \___||_|     \_/\_/  \___||_|
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="themes/default/include/header::commonHeaderCustom(${siteConfig.webname} + ' - ' + ${siteConfig.webslogen},~{::style})">
    <style type="text/css">
    </style>
</head>
<body>
<!-- 头部开始 -->
<header th:include="themes/default/include/header::commonHeaderContent">
</header>

<!-- 正文开始 -->

<!-- 底部开始 -->
<footer th:include="themes/default/include/footer::commonFooterCustom(~{::script})">
    <script type="text/javascript">
    </script>
</footer>
</body>
</html>